*.exe
a.out
.vscode
*test.txt

# these images are too heavy to store in repo
images/4096x4096.png
images/8192x4096.png
images/8192x8192.png
images/16384x16384.png

**/venv
**/.idea
**/__pycache__
lab2/output/*
!lab2/output/.gitkeep

lab4/spark-3.3.0-bin-hadoop3
lab4/.~lock.*
lab4/pyspark_example.ipynb
